# === Rust / Cargo ===
/target
**/target
Cargo.lock
*.db*
*.rlib
*.rmeta
*.d
*.o
*.so
*.dll
*.dylib

/target/

# Environment secrets
.env
.idea/
.vscode/
*.code-workspace

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

*.log
*.bak
*.tmp
*.swp
*~
